/*
   Copyright, 2018-2025. Jaime E. Villate
   Version: 2025-09-30
   License: public domain: use it and modify it as you wish
   Based on the HTML and CSS tutorials at https://www.w3schools.com
*/

* { box-sizing: border-box; }
a:link {
    color: #00f;
    text-decoration: none
}
a:visited { color: #90e }
a:hover, span.button:hover {
    background-color: #eee;
    color: #555;
}
.clearfix:after, main:after, section:after, header:after, div.site-map::before, div.site-map:after, div.example:after {
    content: "";
    display: table;
    clear: both;
}
br.clear { clear: both; }
body {
    background-color: #d4d4d4;
    margin: 0;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
}
pre, tt, code { font-family: "Courier New", "DejaVu Sans Mono", monospace }
header {
    background-color: #546284;
    color: white;
    padding-left: 0.5em;
    padding-top: 1em;
    border-bottom: 1px solid #3333aa;
}
header h1 {
    font-size: 1.5em;
    color: #dedab5;
    text-shadow: 1px 1px 2px black;

}
header h2 {
    font-size: 1.2em;
    color: #dedab5;
}
header a:link { color: #bcf; }
header a:visited { color: #bef; }
.menubtn {
    background-color: #bcf;
    padding: 3px 8px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #33a;
    border-radius: 4px;
}
.menu {
    position:  sticky;;
    position: -webkit-sticky;
    top: 0;
    display: inline-block;
    float: right;
}
.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 11em;
    box-shadow: 0px 0.3em 0.6em 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a:link {
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}
.menu-content a:hover {
    background-color: #a4b7d8;
    color: #33a;
}
.menu:hover .menu-content { display: block; }
.menu:hover .menubtn {
    background-color: #546284;
    color: #bcf;
}
main, section {
    width: 100%;
    background-color: white;
    padding: 5px;
}
section.opening {
    padding: 10px 20px;
    background-color: #f2f1f0;
}
section.opening h2 {text-align: center}
footer {
    margin: 0;
    width: 100%;
    padding: 1.5em 1em;
    clear: both;
    text-align: center;
    border-top: 1px solid  #a4b7d8;
    color: #aaa;
    background-color: #303030;
    font-size: 0.8em;
}
footer a:link { color: #9df; }
div.site-map {
    display: block;
    line-height: 2em;
    padding-bottom: 2em;
}
.category {
    float: left;
    width: 50%; }
.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.category a { color: #5462d8; }
.category a b { color: #eec; }
.category a:hover, .category a b:hover { color: #a4b7d8; }
nav {
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: bold;
    font-size: 0.8em;
    color: black;
    background-color: #bdbab5;
    border-bottom: 1px solid #33a;
    width: 100%;
    overflow: hidden;
}
nav.bottom {
    top: auto;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid #33a;
}
nav span {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 3px;
}
nav a:link {
    float:left;
    display: block;
    color: #00c;
    padding-left: 3px;
    text-align: center;
}
nav a:visited { color: #00c }
.transparent { opacity: 0.7; }
aside {
    font-size: 0.8em;
    color: #ccc;
    background-color: #546284;
    position: absolute;
    top: 0px;
    border-radius: 4px;
}
aside span {
    float: left;
    display: block;
    color: #f9f1e4;
    padding: 3px 10px;
    background-color: #4f4d46;
    border-radius: 4px;
    margin: 2px;
}
aside span.current { background-color: #546284; }
aside a:link {
    color: #33a;
    background-color: #89a0d8;
    float: left;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 10px;
    border: 1px solid #33a;
    border-radius: 4px;
    margin: 2px;
}
aside a:visited { color: #33a }
aside a:hover {
    background-color: #dee7f5;
    color: #546284;
}
hr.thin {
    background-color: #dee7f5;
    color: #334669;
    height: 1px;
    border: none;
}
.hover:hover { opacity: 0.75; }
.border {
    border: 1px solid #334669;
    border-radius: 8px;
}
.full { width: 100%; }
.highlight {
    background-color: #f2f1f0;
    padding: 5px 20px;
}
.img-1 { max-width: 5%; height: auto; }
.img-2 { max-width: 10%; height: auto; }
.img-3 { max-width: 15%; height: auto; }
.img-4 { max-width: 20%; height: auto; }
.img-5 { max-width: 25%; height: auto; }
.img-6 { max-width: 30%; height: auto; }
.img-7 { max-width: 35%; height: auto; }
.img-8 { max-width: 40%; height: auto; }
.img-9 { max-width: 45%; height: auto; }
.img-10 { max-width: 50%; height: auto; }
.img-11 { max-width: 55%; height: auto; }
.img-12 { max-width: 60%; height: auto; }
.img-13 { max-width: 65%; height: auto; }
.img-14 { max-width: 70%; height: auto; }
.img-15 { max-width: 75%; height: auto; }
.img-16 { max-width: 80%; height: auto; }
.img-17 { max-width: 85%; height: auto; }
.img-18 { max-width: 90%; height: auto; }
.img-19 { max-width: 95%; height: auto; }
.img-20 { max-width: 100%; height: auto; }
img.right {
    float: right;
    margin-left: 15px;
}
img.left {
    float: left;
    margin-right: 15px;
}
img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img.box-right {
    float: right;
    max-width: 100%;
    height: auto;
    padding-left: 15px;
}
img.box-left {
    float: left;
    max-width: 100%;
    height: auto;
    padding-right: 15px;
}
img.fig {
    max-width: 100%;
    height: auto;
}
figure {
    margin-left: 0;
    margin-right: 0;
}
figure.center { text-align: center; }
div.gallery {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
}
div.gallery:hover { border: 1px solid #777; }
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 3px 6px;
    height: 6em;
    text-align: center;
}
div.cols-5 {
    float: left;
    width: 47%;
    margin: 1%;
}
div.cols-4 {
    float: left;
    width: 100%;
}
div.cols-3 {
    float: left;
    width: 100%;
}
.spacious li { padding-bottom: 0.6em; }
.spacious dd { padding-bottom: 1em; }
table.symbols {
    margin-top: 3em;
    margin-bottom: 3em;
}
table.symbols td { padding: 0 1em; }
table.book {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table.book th {
    border-bottom: 1px solid black;
    padding: 0;
}
table.book td { padding: 0; }
table.spacious th { padding: 0.5em; }
table.spacious td { padding: 0.5em; }
table.borders { border-collapse: collapse; }
table.borders td, table.borders th {
    border: 1px solid #009;
    padding: 0.5em;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
table.evenodd th {
    background-color: #546284;
    color: #eec;
}
table.evenodd th a { color: #fd3; }
table.evenodd tr:nth-child(even) { background-color: #dee7f5; }
table.evenodd tr:nth-child(odd) { background-color: #a4b7d8; }
div.center, div.equation { text-align: center; }
table.right, div.right { float: right; }
table.left, div.left { float: left; }
.inline { font-size: 0.95em; }
.display { font-size: 0.95em; }
.equation {
    font-size: 1.2em;
    text-align: center;
}
span.math { font-size: 1.2em; }
span.right {
    position: absolute;
    right: 0;
}
.eqbox  {
    float:left;
    margin: 0;
    padding: 0.5em 0;
    width: 15em;
    height: 3em;
} 
.meqbox {
    float: left;
    margin: 0;
    padding: 0.5em 0;
    width: 15em;
    height: 4em;
} 
.heqbox {
    float: left;
    margin: 0;
    padding: 0.5em 0;
    width: 15em;
    height: 5em;
} 
.weqbox {
    float: left;
    margin: 0;
    padding: 0.5em 0;
    width: 30em;
    height: 3em;
} 
.beqbox {
    float: left;
    margin: 0;
    padding: 0.5em 0;
    width: 30em;
    height: 5em;
} 
.center { text-align: center; }
.left   { text-align: left; }
.right  { text-align: right; }
div.content {
    position: -webkit-sticky;
    position: sticky;
    float: left;
    top: 2em;
    display: block;
}
div.content-items {
    display: none;
    position: absolute;
    background-color:  #dee7f5;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 6px 15px 4px 15px;
    z-index: 1;
}
div.content-items a {
    color: #33a;
    text-decoration: none;
}
div.content-items a:hover { color: #f9f1e4; }
div.content:hover div.content-items { display: block; }
div.content-items ol, div.content-items ul {
    list-style-position: inside;
    padding-left: 10px;
}
div.bottom {
    position: -webkit-sticky;
    position: sticky;
    float: left;
    bottom: 0;
}
div.bottom a {
    display: block;
    color: #33a;
}
span.button {
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid #33a;
    background-color: #dee7f5;
    color: #33a;
    border-radius: 5px;
}
div.example {
    border: 1px solid #009;
    background-color: #dee7f5;
    width: 100%;
    padding: 1em 0.5em 0.5em 1.5em;
    border-radius: 10px;
}
div.maxima {
    border: 1px solid #334669;
    line-height: 2em;
    background-color:  #fdf6e3;
    border-radius: 10px;
    padding: 0.5em;
}
pre {
    border: 1px solid #334669;
    line-height: 1.5em;
    padding: 0.5em;
    background-color: #fdf6e3;
    border-radius: 10px;
}
pre.prog {
    border: 1px solid #29639e;
    line-height: 1.5em;
    padding: 0;
    background-color: #def;
    border-radius: 0px;
    counter-reset: line;
}
pre.prog span.line { counter-increment: line; }
pre.prog span.line::before {
    content: counter(line);
    color: #777;
    background-color: #dfdfdf;
    padding-left: 5px;
    width: 2em;
    display: inline-block;
    border-right: 1px solid black;
}
div.eqn { float: right; }
div.eqnalign {
    text-align: center;
    line-height: 2em;
    word-wrap: break-word;
}
div.quotation {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
div.fbox {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    border: 1px solid black;
    padding: 7px 15px 0;
}
div.signature { margin: 40px 0 15px; }
p.credits {
    font-size: 0.7em;
    color:#333;
}
span.maxv { color: #069; }
span.maxn { color: #063; }
span.maxd { color: black; }
span.maxo { color: #3f2000; }
span.maxf { color: #90c; }
span.maxs { color: #c33; }
span.maxk { color: #803300; }
span.maxm { color: #009; }
span.maxi { color: #c60; }
span.pytp { color: #903000; }
span.pytr { color: #00c; }
span.pytk { color: #f60; }
span.pytc { color: #c33; }
span.pytf { color: #c0f; }
span.pyts { color: #0a0; }
span.pyto { color: black; }
ul.plain { list-style-type: none; }
ol.appendices { list-style-type: upper-alpha; }
ul.answers { list-style-type: none; }
ul.shortanswers {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
ol.answers {
    list-style-type: upper-alpha;
    padding-left: 1.5em;
}
ol.shortanswers {
    list-style-type: upper-alpha;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 1.5em;
}
ol.probitems { list-style-type: lower-alpha; }
ol.nested {
    counter-reset: item;
    list-style-type: none;
}
ol.nested > li::before {
    counter-increment: item;
    content: counters(item, ".") ". ";
}
p.bibitem {
    margin-left: 2em;
    text-indent: -2em;
}
.comment {
    z-index: 1;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.4);
}
.hint {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 80%;
}
.hint > p {
    padding-left: 1em;
    padding-right: 1em;
}
.red {
    color:#fff !important;
    background-color: #f44336 !important
}
.green {
    color: #fff !important;
    background-color:#4CAF50 !important
}
.eqn {
    padding-top: 50px;
    margin-top: -50px;
}
figure {
    padding-top: 50px;
    margin-top: -50px;
}
@media screen and (min-width: 600px) {
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    header {
        padding-left: 1.5em;
        padding-top: 2em;
    }
    header h1 {
        font-size: 2em;
        line-height: 1.2em;
    }
    header h2 {
        font-size: 1.6em;
    }
    body { font-size: 1em; line-height: 1.5em; }
    div.maxima, pre { padding: 0.5em 1em; }
    div.example { padding: 0 15px 15px 30px; }
    ul.multicol {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    footer { font-size: 0.8em; line-height: 2em; }
    div.site-map { display: block; }
    div.content { display: block; }
    section { padding: 15px; }
    section.opening { padding: 15px 30px; }
    div.gallery {
        width: 46%;
        margin: 2%;
    }
    div.cols-5 {
        width: 31%;
        margin: 1%;
    }
    div.cols-4 {
        width: 47%;
        margin: 1%;
    }
}
@media screen and (min-width: 900px) {
    header {
        padding-left: 2.5em;
        padding-top: 3em;
    }
    ul.multicol {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
    .menu {
        position: -webkit-sticky;
        position: sticky;
        top: 15px;
        font-size: 0.9em;
        padding: 15px;
        float: left;
        padding: 1em;
        width: 20%;
        float: right;
    }
    .menubtn { display: none; }
    .menu-content {
        display: block;
        margin: 5px;
        box-shadow: none;
    }
    .menu-content a:link {
        color: #bef;
        background-color: #546284;
        padding: 0.3em 1em;
        margin-top: 0.5em;
        text-decoration: none;
        display: block;
        border-radius: 4px;
    }
   .menu-content a:visited { color: #bcf; }
   .menu-content a:hover {
        background-color: #a4b7d8;
        color: #33a;
    }
    .menu:hover .menu-content { display: block; }
    div.maxima, pre { padding: 0.7em 1.5em 0.7em 1.5em; }
    div.category { width: 25%; }
    div.gallery { width: 23%; margin: 1%; }
    div.cols-5 { width: 23%; margin: 1%; }
    div.cols-4 { width: 31%; margin: 1%; }
    div.cols-3 { width: 47%; margin: 1%; }
    section {
        padding-left: 2em;
        paddign-right: 2.5em;
    }
    main section {
        width: 80%;
    }
}
@media (prefers-color-scheme: dark) {
    body { background-color: #333 }
    .menu-content { background-color: #aaa }
    main, section {
        background-color: #555;
        color: #eee
    }
    section.opening { background-color: #444 }
    span.button {
        border: 1px solid black;
        background-color: #abc;
        color: #33a
    }
    .menu-content { background-color: #555 }
    div.content-items { background-color:  #b2b4c3 }
    pre, div.maxima {
        color: black;
        background-color: #ccc;
    }
    div.example {
        background-color: #bcd;
        color: black
    }
    pre.prog { background-color: #bcd }
    svg text, svg rect { fill: #eee }
    div.maxima svg text, div.maxima svg rect { fill: black }
    div.example svg text, div.example svg rect { fill: black }
    span.maxv { color: #6cf; }
    span.maxn { color: #6fc; }
    span.maxd { color: white; }
    span.maxo { color: #ed9; }
    span.maxf { color: #f9f; }
    span.maxs { color: #f99; }
    span.maxk { color: #e93; }
    span.maxm { color: #bbf; }
    span.maxi { color: #eec; }
    div.maxima span.maxv { color: #069; }
    div.maxima span.maxn { color: #063; }
    div.maxima span.maxd { color: black; }
    div.maxima span.maxo { color: #3f2000; }
    div.maxima span.maxf { color: #90c; }
    div.maxima span.maxs { color: #c33; }
    div.maxima span.maxk { color: #803300; }
    div.maxima span.maxm { color: #009; }
    div.maxima span.maxi { color: #c60; }
    .hint { background-color: #aaa }
    .hint svg text, .hint svg rect { fill: black }
    footer {
        color: #ddd;
        border-top: 1px solid  black;
        background-color: #303030
    }
    a:link { color: #9df }
    a:visited {color: #bcf }
    a:hover, span.button:hover {
        color: #fea;
        background-color: #888
    }
    table.borders td, table.borders th { border: 1px solid white }
    .border { border: 1px solid white }
}
